<p>{{name}},</p>

<p>
  With
  <strong>8 days until the tax deadline, April 15th,</strong>
  it is imperative that we update your case regarding 2024 . Will we will be
  processing a return or filing an extension on your behalf? 


<p>Call before 5pm PST at 818-862-8904 as soon as possible. If we have already
  spoken regarding 2024 you can disregard this email.
</p>

<p>Best,<br />Matt Anderson</p>

<!-- Email Signature with Logo and Contact Details -->
<table
  style="width:100%; max-width:600px; margin-top:20px; border-top: 1px solid #ccc; padding-top: 10px;"
>
  <tr>
    <!-- Logo on the Left -->
    <td style="width: 40%;">
      <img
        src="https://i.imgur.com/O0AEJwZ.png"
        alt="Tax Advocate Group"
        style="width: 100px; height: auto;"
      />
    </td>

    <!-- Contact Details on the Right -->
    <td
      style="width: 60%; text-align: left; vertical-align: middle; font-family: Arial, sans-serif; font-size: 14px;"
    >
      <strong>Matt Anderson</strong><br />
      <a
        href="tel:1-818-862-8904"
        style="color: #000; text-decoration: none;"
      >1-818-862-8904</a><br />
      <a
        href="http://www.taxadvocategroup.com"
        style="color: #000; text-decoration: none;"
      >Tax Advocate Group</a>
    </td>
  </tr>
</table>