<p>{{name}},</p>

<p>I have your tax transcripts and need to review them with you. This is the
  first step in making sure your tax liability is resolved.
</p>

<p>Please call me today at 805-424-5891 before 5pm pacific to go over the
  details. This will help us keep your case on track.</p>

<p>Lets get this done.</p>

<p>Best,<br />Matt Anderson</p>