<p>Dear {{clientName}},</p>

<p>We have your tax transcripts on hand, and a quick review will help us ensure
  everything is in place for your case. This is a simple but important step, and
  we’re here to guide you through it.</p>

<p>Give us a call at
  {{phoneNumber}}
  when you’re available—we’re here Monday – Friday, 9 AM – 5 PM and ready to
  assist.</p>

<p>Best,<br />{{yourName}}</p>